<div class="container">
  <h2>Add Pricing Configuration</h2>
  <form (submit)="addPricingConfiguration()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="pricingConfiguration.NAME"
        required
      />
    </div>
    <div class="form-group">
      <label for="distanceBasePrice">Distance Base Price (DBP):</label>
      <input
        type="number"
        id="distanceBasePrice"
        name="distanceBasePrice"
        [(ngModel)]="pricingConfiguration.DBP"
        required
      />
    </div>
    <div class="form-group">
      <label for="distanceAdditionalPrice"
        >Distance Additional Price (DAP):</label
      >
      <input
        type="number"
        id="distanceAdditionalPrice"
        name="distanceAdditionalPrice"
        [(ngModel)]="pricingConfiguration.DAP"
        required
      />
    </div>
    <div class="form-group">
      <label for="timeMultiplierFactor">Time Multiplier Factor (TMF):</label>
      <input
        type="number"
        id="timeMultiplierFactor"
        name="timeMultiplierFactor"
        [(ngModel)]="pricingConfiguration.TMF"
        required
      />
    </div>
    <div class="form-group">
      <label for="waitingCharges">Waiting Charges (WC):</label>
      <input
        type="number"
        id="waitingCharges"
        name="waitingCharges"
        [(ngModel)]="pricingConfiguration.WC"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Configuration</button>
  </form>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
