
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav>
  <a routerLink="/pricing-configurations" routerLinkActive="active">Pricing Configurations</a>
  <a routerLink="/calculate-pricing" routerLinkActive="active">Calculate Pricing</a>
  <a routerLink="/add-pricing-configuration" routerLinkActive="active">Add Pricing Configuration</a> <!-- New link -->
</nav>

<router-outlet></router-outlet>

<!-- <router-outlet></router-outlet> -->
